<!-- views/login/login.ejs -->

<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>
        <div class="container mb-3">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" value="" placeholder="Email" class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input typle="password" id="password" name="password" placeholder="Password" class="form-control">
            </div>
        </div>
</body>

</html>