<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    
    <div class="container mb-3">
      <div class="jumbotron pt-4 pb-4 pr-4 pl-4">
        <h1>Naseo'S blog</h1>
        <p>2021-06-01</p>
      </div>
  
      <div class="photos">
        <img src="img/1.jpg" alt="1">
        <img src="img/2.jpg" alt="2">
        <img src="img/3.jpg" alt="3">
    </div>
   
      
      
    </div>
  </body>
</html> 